<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>
<%= @project.description %>
<br> <br>

<% @tasks.each do |task| %>
  <%= task.name %> <br>
<% end %>

<br><br>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
