<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @board.project_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @board.position %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
